body{
    
        background-color: rgb(240, 220, 220);
        color: rgb(14, 6, 6);
        text-align: center;
        max-width: 1268px;
        margin: 0 auto;
        /* Font from Google Fonts, imported in the HEAD tag of the HTML */
        font-family: "Roboto", sans-serif;
   
}

        #table{
           
              border: 1px solid black;
              border-radius: 10px;
              border-style: solid;
              text-align:center;
              flex-grow: 1;
              justify-content: last baseline;
              align-items: flex-end;
              border-style: solid;
             border-width: 3px;
             border-color: #4a4a4a;
             padding: 12px;
            border-radius: 8px;
            display: inline-block;
            width: 60%;
            } 
            .text{
                font-size: medium;
                font-family: "Roboto", sans-serif;
            }
            #table, td{
                border: solid; color: green;
            }
        .test{
            color: aqua;
            border-color: blueviolet;
            background-color: gold;

        }
